[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

streamlit = "*"
transformers = "*"
openai = "*"
yfinance = "*"
plotly = "*"
streamlit-ace = "*"
polyfuzz = "*"



[dev-packages]
black = "*"  # Pretty formatting of Python code
pynvim = "*" # Allows nvim users to use black formatting

[pipenv]
allow_prereleases = true
